body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  box-sizing: border-box;
}

.container-top {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.second-header {
  background: none;
  font-size: 15px;
  margin-left: 5px;
}

/* @media (min-width: 300px) and (max-width: 500px) {
  * {
    overflow-x: hidden;
  }

} */



@media (min-width: 300px) and (max-width: 500px) {
  .second-header {
    font-size: 6px;
  }
}

.second-header1 {
  background: none;
  font-size: 15px;
  margin-left: 5px;
  background: white;
  border: 2px solid white;
}

@media (min-width: 300px) and (max-width: 500px) {
  .second-header1 {
    display: none;
    font-size: 6px;
    background: white;
    border: 2px solid white;
  }
}

.container p1 {
  font-size: 15px;
  margin-left: 14px;
  background: #f5ebeb;
}

@media (min-width: 300px) and (max-width: 500px) {
  .container p1 {
    font-size: 6px;
    margin-left: 10px;
  }
}

.hr {
  position: relative;
  bottom: -1px;
  color: blue;
  background: blue;
  height: 2px;
}

@media (min-width: 300px) and (max-width: 500px) {
  .hr {
    position: relative;
    top: 1px;
    color: blue;
    background: blue;
    height: 1px;
  }
}

.main-section-text {
  margin-top: 27px;
  padding-bottom: 13px;
}

.col-lg-4 .card {
  border: 1px solid #5858f1;
  max-width: 303px;
  height: 313px;
}

@media (min-width: 300px) and (max-width: 500px) {
  .col-lg-4 .card {
    margin-bottom: 2em;
  }
}

.card-img-top {

  height: 159px;
}



.row-image img {
  position: relative;
  bottom: 28px;
  left: 31px;
}

/* 
  @media (min-width: 300px) and (max-width: 500px) {
    .row-image img {
  
      position: inherit;
    }
  } */


.third-content {
  margin-left: 31px;
}

.card-button span {
  font-size: 23px;
  margin-left: 122px;
  line-height: 26px;
  position: relative;
  bottom: 73px;
  left: 2px;
}

.card-button p {
  font-size: 14px;
  position: relative;
  left: 124px;
  bottom: 72px;
  color: #7a6e6e;


}

.card-button img {
  width: 105px;

}

.four-content {
  text-align: center;
}

.four-content .btn {
  box-shadow: 1px 2px 10px -1px grey;
  border-radius: 13px;
  margin-bottom: 19px;
  color: gray;
}

@media (min-width: 300px) and (max-width: 500px) {
  .four-content .btn {
    margin-left: -40px;
    margin-bottom: 39px;
  }
}

.content-img img {
  width: 246px;
}

.content-img p {
  margin: 10px 42px;
  color: gray;

}

.five-content {
  margin-left: 260px;

}

@media (min-width: 300px) and (max-width: 500px) {
  .five-content {

    margin-left: 38px;
  }
}


.six-content .btn {
  box-shadow: 1px 2px 10px -1px grey;
  border-radius: 16px;
  color: gray;
  margin: 20px 160px;
}


@media (min-width: 300px) and (max-width: 500px) {
  .five-content .btn {
    margin-left: -2px;
  }
}

@media (min-width: 300px) and (max-width: 500px) {
  .six-content .btn {
    position: relative;
    left: -231px;

    font-size: 19px;
    width: 208px;
  }
}


.six-content .btn {
  box-shadow: 1px 2px 10px -1px grey;
  border-radius: 16px;
  color: gray;
  margin: 20px 284px;
}

.six-img {
  width: 307px;
  position: relative;
  top: 49px;
  height: 249px;
}